body {
    margin:0px;
    padding:0px;
    background:url('img/bg.jpg');
    color:white;
    font-family: 'PT Sans', sans-serif;
}
.left{
   position:absolute;
   top: 22px;
   left: 40px;
    display:inline-block;  
    color:white;
    text-align: center;
}
.left img {
   width: 60px;
   filter: invert(100%);
}
.left div{
   text-align: center;
   font-size: 20px;
}
.centre{
   display:block;
   width: 38%;
   margin:22px auto;
   color:white;

}
.right{
   position:absolute;
   top: 22px;
   right: 40px;
   display:inline-block;
}
.nav{
    display: inline-block;
    color:white;
}
.nav li{
    display: inline-block;
    font-size: 27px;
    color:white;
}
.nav li a {
   color: rgba(236, 236, 241, 0.979);
   text-decoration: none;
   padding: 36px 25px;
}
.nav li a:hover,
.nav li a.active {
   text-decoration: underline;
   color: grey;
}
.b{
   margin: 5px 10px;
   background-color: white;
   color: black;
   padding: 5px 13px;
   border: 2px black;
   border-radius: 8px;
   font-size: 20px;
   cursor: pointer;
}
.b:hover{
   background-color: rgb(100, 97, 97);
}
.container{
   border: 2px solid white;
   margin: 110px 80px;
   padding: 25px 25px;
   width: 33%;
   border-radius: 8px;
}
.form-group input {
   font-family: 'PT Sans', sans-serif;
   text-align: center;
   display: block;
   width: 300px;
   padding: 2px;
   border: 2px solid black;
   margin: 11px auto;
   font-size: 25px;
   border-radius: 8px;
}
.container h1 {
   text-align: center;
}
.container button {
   display: block;
   width: 30%;
   margin: 20px auto;
}